<header>
  <div class="container-fluid">
    <%= render 'frontend/header/locale.html.erb' %>
    <%= render 'frontend/header/crown.html.erb' %>
    <%= render 'frontend/header/logo.html.erb' %>
    <%= render 'frontend/index/alert.html.erb' %>
  </div>
</header>