<header>
  <div class="container">
    <img src="<%= asset_path "burgerking.png" %>" alt="Burger Rails" width="100" height="auto">
    <h1 class="h1 text-center"> Burger Rails ! </h1>
  </div>
</header>