<div class="footer">
  <div class="container-fluid">
    <p class="txt-railway">- Copyright © 2017, Develop by Didier YOUN, Marc INTHA-AMNOUAY - Antoine RENAULT-</p>
    <a href="https://github.com/Tinwork/WeRailsWithGraphQl">
      <i id="social-tw" class="fa fa-github fa-3x social"></i>
    </a>
  </div>
</div>