<div class="footer">
  <div class="container-fluid">
    <div class="socials">
      <a class="fb" href="https://github.com/Tinwork/WeRailsWithGraphQl"></a>
      <a class="twitter" href="https://github.com/Tinwork/WeRailsWithGraphQl"></a>
      <a class="github" href="https://github.com/Tinwork/WeRailsWithGraphQl"></a>
    </div>
    <p class="txt-railway">Copyright © <span id="date"></span>,
      <%= t('views.frontend.footer.develop_by') %>
      <a href="https://github.com/Tinwork">Didier YOUN</a>,
      <a href="https://github.com/Tinwork">Marc INTHA-AMNOUAY</a>,
      <a href="https://github.com/Tinwork">Antoine RENAULT</a>
    </p>
  </div>
</div>
<script type="text/javascript">
  let dateContainer = document.getElementById('date'),
      date = new Date();
  dateContainer.innerHTML = date.getFullYear();
</script>