@import 'mixins';

[class^="custom-icon-"] {
  display: inline-block;
  margin-right: 2px;
  position: relative;
  top: 5px;
  width: 32px;
  height: 32px;
  background-position: center center;
  background-size: 32px 32px;
}

.custom-icon-beverage {
  background-image: url(image_path('icons/cold_drinks.svg'));
}
.custom-icon-menus {
  left: -4px;
  background-image: url(image_path('icons/menus.svg'));
}
.custom-icon-burgers {
  background-image: url(image_path('icons/burgers.svg'));
}
.custom-icon-ingredients {
  left: -4px;
  background-image: url(image_path('icons/salads.svg'));
}
.custom-icon-condiments {
  background-image: url(image_path('icons/snacks.svg'));
}
.custom-icon-category {
  left: -4px;
  background-image: url(image_path('icons/utensils.svg'));
}
.custom-icon-size {
  left: -4px;
  background-image: url(image_path('icons/box.svg'));
}
.custom-icon-user {
  left: -4px;
  background-image: url(image_path('icons/crown.svg'));
}

body.rails_admin {
  background-color: $bodyBgAdminColor;
}

.h2 {
  font-family: Insanibu;
  color: white;
}


body.rails_admin .nav.nav-tabs {
  border-bottom: none;
  margin-bottom: 0;

  li > a {
    color : black;
  }
  li > a:hover {
    background-color: $variantThemeColor;
    border: 1px solid $variantThemeColorDarken;
  }
  li.active a {
    background-color: $variantThemeColor;
    border: 1px solid $variantThemeColorDarken;
  }
  li.active a {
    background-color: $variantThemeColor;
    border: 1px solid $variantThemeColorDarken;
  }

  .icon > a:hover {
    background-color: $variantThemeColor;
    border: 1px solid $variantThemeColorDarken;
  }
  .icon.dashboard_root_link {
    display: none;
  }
  .icon.index_collection_link.active a {
    background-color: $variantThemeColor;
    border: 1px solid $variantThemeColorDarken;
  }
  .icon.new_collection_link.active a {
    background-color: $variantThemeColor;
    border: 1px solid $variantThemeColorDarken;
  }
  .dropdown {
    color: black;
  }
}

body.rails_admin .table {
  background-color: $variantThemeColor;
}

body.rails_admin .form-horizontal.dense {
  background-color: red;
}

body.rails_admin .well {
  background-color: $variantThemeColor;
  border: 1px solid $variantThemeColorDarken;
}

body.rails_admin .btn {
  background-color: $variantThemeColor;
  border: 1px solid $variantThemeColorDarken;
  &:hover {
    background-color: $variantThemeColorDarken;
  }
}

body.rails_admin .btn-info {

}

body.rails_admin .btn-primary {
  background-color: seagreen;
  border: 1px solid darkgreen;
  &:hover {
    background-color: darkgreen;
  }
}

body.rails_admin .btn-info {
  background-color: darkseagreen;
  border: 1px solid mediumseagreen;
  &:hover {
    background-color: mediumseagreen;
  }
}
body.rails_admin > a.pjax {
  color: $breadcrumbBgColor;
  &:hover {
    color: $breadcrumbBgColor;
  }
}

.globalize_tabs_type {

  .globalize-errors {
    float: right;
    margin-left: 15px;
    line-height: 36px; // tabs height
  }
  .globalize-help {
    margin-top: 10px;
    margin-left: 180px; // == .form-horizontal .controls indent
  }

}