@import 'mixins';

body.rails_admin .sidebar-nav {
  background-color: $sidebarBgColor;
  color: white;

  .nav {
    li.dropdown-header {
      font-family: Insanibc;
      font-size: 20px;
      letter-spacing: 2px;
      color: $fontAdminColor;
    }
    li {
      a {
        color: white;
        &:hover {
          background-color: $navbarBgColor;
        }
      }
    }
  }
}