$bodyBgAdminColor : #E4A770;
$bgAdminColorLighten : #AF604E;
$sidebarBgColor: #8E5630;
$navbarBgColor: #63362C;

$breadcrumbBgColor : #F7A600;

$fontAdminColor: #FFFFFF;
$fontAdminHoverColor: #EEEEEE;

$variantThemeColor : #CA9463;
$variantThemeColorDarken : #B08156;