<div class="container">
    <div class="row">
        <h1> We Rails and try GraphQL ! </h1>
    </div>
    <div class="row">
        <div class="col-lg-6">3</div>
        <div class="col-lg-6">2</div>
    </div>
    <div class="row">
        <a href="/<%= I18n.locale %>/admin"><%= t 'views.frontend.index.button.admin' %></a>
    </div>
</div>