<div class="menu" id="menu-parent">
    <div class="col fixed">
        <%# Define the header of the menu %>
        <div class="menu-header">
            <img src="<%= asset_path "burgerking.png" %>" alt="burge king logo" />
        </div>

        <%# Define the burgers that has been created by the admin %>    
        <div class="menu-items" id="burgers-items"></div> 
    </div>
   <div class="col list" id="col-list">

   </div>
</div>