<div class="menu" id="menu-parent">
    <%# Define the header of the menu %>
        <div class="menu-header">
            <img src="<%= asset_path "burger.png" %>" alt="burge king logo" />
        </div>
    <%# Define the burgers that has been created by the admin %>    
        <div class="menu-items" id="burgers-items"></div>
</div>