@import "variables.scss";

.footer {
  display: block;
  height: 10%;
  width: 100%;

  position: relative;
  text-align: center;

  background: url(image_path('plate_wood.png')), $menu-bg-color;
  background-size: 250px 250px;
  

  &::before {
    content: '';
    display: block;
    background-image: url(image_path('burgers_logo.png'));
    background-repeat:  repeat-x;
    background-position: 0 0;
    background-size: 27.5px;
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
  }

  p {
    font-family: 'Calibri';
    font-size: 14px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}