@import 'variables.scss';

header {
  height: 15%;

  background: url(image_path('plate_wood.png')), $menu-bg-color;
  background-size: 250px 250px;

  .container-fluid {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .crown {
    margin: 0 auto;

    img {
      width: 70px;
    }
  }

  .logo {
    position: absolute;
    right: 10px;

    img {
      display: block;
      width: 58px;
      height: auto;
    }
  }

  .locale-switch {
    position: absolute;
    left: 50px;
    z-index: 10;
  }

  .onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  }
  .onoffswitch-checkbox {
    display: none;
  }
  .onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
  }
  .onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  .onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
  }
  .onoffswitch-inner:before {
    content: '';
    background-image: url(image_path('icons/flag_fr.png'));
    background-repeat: no-repeat;
    background-position: 25% center;
    background-color: #EEEEEE;
    color: #999999;
    padding-left: 10px;
  }
  .onoffswitch-inner:after {
    content: '';
    padding-right: 10px;
    background-image: url(image_path('icons/flag_en.png'));
    background-repeat: no-repeat;
    background-position: 70% center;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
  }
  .onoffswitch-switch {
    display: block; width: 40px;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border-radius: 20px;
    background-image: url(image_path('burger.png'));
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in 0s;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
  }
  &::after {
    display: table;
    clear: both;
  }
}