@import 'variables.scss';

header {
  height: 15%;

  background: url(image_path('plate_wood.png')), $menu-bg-color;
  background-size: 250px 250px;

  .container-fluid {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .crown {
    margin: 0 auto;

    img {
      width: 70px;
    }
  }

  .logo {
    position: absolute;
    right: 10px;

    img {
      display: block;
      width: 58px;
      height: auto;
    }
  }

  
}