@import "variables.scss";

.content {
  height: 70%;
  display: flex;
}

.app-container {
  background: url(image_path('burger-layout.png')), $app-layout-bg;
  background-size: 150px 150px;
  width: 93% !important;
  margin-left: 0px;
  height: 100%;
}

