@import "variables.scss";

// Menu Left
.menu {
  float: left;
  width: 12%;

  height: 100%;
  transition: all ease .25s;
  font-family: 'Noto Sans', 'arial' ,'sans-serif';
  color: white;
  z-index: 9;

  .col {
    transition: all ease .25s;
    &.fixed {
      width: 100%;
      z-index: 99;
    }

    .carousel-container {
      height: 100%!important;

      .items {
        outline: none;
        cursor: move;
        height: 200px;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          display: block;

        }

        p {
          display: block;
          text-align: center;
          padding-top: 10px;
        }
      }
    }
  }

  img {
    width: 60px;
  }

  .logo{
    width: 100%;
    img {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

// Menu Right
.menu_right {
  float: left;

  width: 7%;
  height: 100%;

  .item {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      display: block;
      width: 50%;
    }
  }

  #condiments {
    background-color: $condiments-layout;
  }

  #drink{
    background-color: $drink-layout;
  }
}