$bodyBgColor : #E4A770;
// Define every variable here
$menu-bg-color: #DD9453;
$menu-bg-loader: #BD0034;
$menu-shadow-color: #845546;

// Items category color
$app-layout-bg : #713B30;
$condiments-layout : #f79700;
$drink-layout: #7cadd9;
 
// Footer
$calories: #ee2d24;

$variantThemeColor : #CA9463;
$variantThemeColorDarken : #B08156;

// Menu colors
$mainMenuColor: #CF9867;
$menuWidth: 18%;
