<div class="menu" id="menu-parent">
    <%= render 'frontend/header/locale.html.erb' %>
    <div class="col fixed flex"> 
        <i class="fa fa-arrow-left selAction" id="prev" data-id="0" aria-hidden="true"></i>
        <p id="text-title">Burgers</p>
        <i class="fa fa-arrow-right selAction" id="next" data-id="1" aria-hidden="true"></i>
    </div>
    <div class="col fixed carousel-container" id="menu-items"></div>
    <div class="col fixed" id="ingredients-panel"></div>
</div>