<div class="menu_right">
    <div class="item" id="condiments">
        <img src="<%= image_path('condiments.png') %>">
    </div>
    <div class="item" id="drink">
        <img src="<%= image_path('drink.png') %>">
    </div>
</div>