<div class="menu_right">
    <div class="item" id="condiments">
        <canvas id="sidedish"></canvas>
    </div>
    <div class="item" id="drink"> 
        <div class="row">
            <canvas id="beverage"></canvas>
        </div>
    </div>
</div>